# _____                              _______________________________
# ____/ TELEMAC Project Definitions /______________________________/
#

#
# 2020-04-17 based on systel.cis-debian.cfg with the following
#            flussplan modifications for debian 10 compatbility:
#
#            * add missing -cpp flag to gfortran to enable preprocessor
#            * add missing U flag to ar to remove warning (new default
#              deterministic libraries do not allow update libraries)
#            * correct /usr/bin/mpif90.openmpi path

[Configurations]
configs:    debgfopenmpi
#
[general]
modules:    system
#
mods_all:   -I <config>
#
sfx_zip:    .gztar
sfx_lib:    .a
sfx_obj:    .o
sfx_mod:    .mod
sfx_exe:
#
val_root:   <root>/examples
val_rank:   all
# also possible val_rank:   <3 >7 6
#
cmd_obj_c: gcc -c <srcName> -o <objName>

# _____                         ____________________________________
# ____/ Debian gfortran scalar /___________________________________/
[debgfortrans]
#
cmd_obj:    gfortran -c -O3 -fconvert=big-endian -frecord-marker=4 <mods> <incs> <f95name> -cpp
cmd_lib:    ar cruU <libname> <objs>
cmd_exe:    gfortran -fconvert=big-endian -frecord-marker=4 -v -o <exename> <objs> <libs>
#
# _____                               ____________________________________
# ____/ Debian gfortran scalar debug /___________________________________/
[debgfortransdbg]
#
cmd_obj:    gfortran -c -g -fbounds-check -Wall -fbacktrace -finit-real=nan -fconvert=big-endian -frecord-marker=4 <mods> <incs> <f95name> -cpp
cmd_lib:    ar cruU <libname> <objs>
cmd_exe:    gfortran -fconvert=big-endian -frecord-marker=4 -v -o <exename> <objs> <libs>
#
# _____                          ___________________________________
# ____/ Debian gfortran openMPI /__________________________________/
[debgfopenmpi]
#
par_cmdexec:   <config>/partel < PARTEL.PAR >> <partel.log>
#
mpi_cmdexec:   /usr/bin/mpiexec -wdir <wdir> -n <ncsize> <exename>
mpi_hosts:
#
cmd_obj:    /usr/bin/mpif90.openmpi -c -O3 -DHAVE_MPI -fconvert=big-endian -frecord-marker=4 <mods> <incs> <f95name> -cpp
cmd_lib:    ar cruU <libname> <objs>
cmd_exe:    /usr/bin/mpif90.openmpi -fconvert=big-endian -frecord-marker=4 -lpthread -v -lm -o <exename> <objs> <libs>
#
mods_all:   -I <config>
#
libs_all:    /usr/lib/x86_64-linux-gnu/openmpi/lib/libmpi.so /usr/lib/x86_64-linux-gnu/libmetis.so
#
# _____                                ___________________________________
# ____/ Debian gfortran openMPI debug /__________________________________/
[debgfopenmpidbg]
#
par_cmdexec:   <config>/partel < PARTEL.PAR >> <partel.log>
#
mpi_cmdexec:   /usr/bin/mpiexec -wdir <wdir> -n <ncsize> <exename>
mpi_hosts:
#
cmd_obj:    /usr/bin/mpif90.openmpi -c -g -fbounds-check -Wall -fbacktrace -finit-real=nan -DHAVE_MPI -fconvert=big-endian -frecord-marker=4 <mods> <incs> <f95name> -cpp
cmd_lib:    ar cruU <libname> <objs>
cmd_exe:    /usr/bin/mpif90.openmpi -fconvert=big-endian -frecord-marker=4 -lpthread -v -lm -o <exename> <objs> <libs>
#
mods_all:   -I <config>
#
libs_all:    /usr/lib/x86_64-linux-gnu/openmpi/lib/libmpi.so /usr/lib/x86_64-linux-gnu/libmetis.so
#
